appdirs
attrs
beautifulsoup4
black
certifi
charset-normalizer
click
colorama
colorlog
idna
jsonschema
lxml
mypy
mypy-extensions
online-judge-api-client
online-judge-tools
pathspec
platformdirs
pyrsistent
requests
soupsieve
toml
typing_extensions
urllib3
